<div class="footer">
  <div class="footer-content">
    <div>你已經滾到底囉！有興趣參考一下原始碼吧：)</div>
    <div>
      <a href="https://github.com/alanyeh20001/new_taipei_activities" target="_blank">
<!--        <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>-->
      </a>
    </div>
    <div>Copyright © 2016 Alanyeh. All rights reserved</div>  
  </div>
</div>
