<div class="footer">
  <div class="footer-content">
    <div class="copyright">
      <p>Copyright © 2016 Alanyeh.</p>
    </div>
    <div class="social-icon">
      <a href="https://github.com/alanyeh20001/new_taipei_activities" target="_blank">
        <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
      </a>
      <a href="https://www.flickr.com/photos/114787703@N02/" target="_blank">
        <i class="fa fa-flickr fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
