<div class="header">
  <div class="header-content">  
    <div class="title">新北 ◎ 近期活動</div>
    <a href="" class="share"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
    <a href="http://alanyeh-blog.herokuapp.com/#/introduction" class="author-info" target="_blank">
      <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
    </a>
  </div>
</div>
