<div class="header">
  <div class="header-content">
    <a href="javascript:void(0);" class="nav-icon" onclick="responsive()">
      <i class="fa fa-bars fa-border" aria-hidden="true"></i>
    </a>
    <div class="title"><a href="#">新北 ◎ 近期活動</a></div>
    <a href="javascript:void(0);" class="share" onclick="share()">
      <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
    </a>
    <a href="http://alanyeh-blog.herokuapp.com/#/introduction" class="author-info" target="_blank">
      <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
    </a>
  </div>
</div>
