<div class="navbar" id="menu">
  <div class="navbar-content">
    <ul>
      <li><a href="#">全部分類</a></li>
      <li><a>藝文休閒</a></li>
      <li><a>青年體育</a></li>
      <li><a>衛生保健</a></li>
      <li><a>環境保護</a></li>
      <li><a>社會福利</a></li>
      <li><a>其他</a></li>
    </ul>
  </div>
</div>
